@import "colors";
@import "media-queries";

footer {
  background-color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 1rem;
  & span {
    color: $lime;
    cursor: pointer;
  }
}
